{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="w3-container container w3-center">
        <div class="w3-content w3-padding-64">
            <h1 class="title">Help Bello Get Prosthetics</h1>
            <a class="button is-large is-link is-outlined" href="https://www.payputt.com/ffadf">Click here to donate</a>

            <figure class="image w3-padding-64">
                <img src="{% static 'frontend/img/render.jpg' %}">
            </figure>
        </div>
    </div>
{% endblock %}
