{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container w3-center">
        <div class="w3-content w3-padding-64">

            <figure class="image">
                <img src="{% static 'frontend/img/all.jpg' %}">
            </figure>

            <div class="columns is-multiline">

                <div class="column is-6">
                    <figure class="image w3-padding-64">
                        <img src="{% static 'frontend/img/bello.jpg' %}">
                    </figure>
                </div>
                <div class="column is-6">
                    <br>
                </div>
                <div class="column is-6">
                    <figure class="image w3-padding-64">
                        <img src="{% static 'frontend/img/prince.JPG' %}">
                    </figure>
                </div>

                <div class="column is-6">
                    <br>
                </div>
                <div class="column is-6">
                    <figure class="image w3-padding-64">
                        <img src="{% static 'frontend/img/joseph.png' %}">
                    </figure>
                </div>

                <div class="column is-6">
                    <br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
