{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="w3-container container w3-center">
        <div class="w3-content w3-padding-64">

            <figure class="image">
                <img src="{% static 'frontend/img/all.jpg' %}">
            </figure>

            <div class="columns is-multiline w3-padding-64">
                <div class="column is-4 w3-padding">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image">
                                <img src="{% static 'frontend/img/bello.jpg' %}" alt="Bello">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Bello, 50</p>
                                    <div class="content">
                                        Former Athlete + Libya Human-Trafficking Survivor
                                        <br>
                                        <br>
                                        Nigerian Immigrant
                                        <br>
                                        <br>
                                        Marathon Runner
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="column is-4 w3-padding">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image">
                                <img src="{% static 'frontend/img/prince.JPG' %}" alt="Prince">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Prince, 22</p>
                                    <div class="content">
                                        Social Entreprenuer + Student at University of Ghana
                                        <br>
                                        <br>
                                        Ghanaian
                                        <br>
                                        <br>
                                        *Short Distance Running
                                        <br>
                                        <br>
                                        Tokyo 2020 Paralympics
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="column is-4 w3-padding">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image">
                                <img src="{% static 'frontend/img/joseph.png' %}" alt="Joseph">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Joseph, 21</p>
                                    <div class="content">
                                        Social Entreprenuer + Student at Ashesi University
                                        <br>
                                        <br>
                                        Ghanaian
                                        <br>
                                        <br>
                                        5,000m + Long Jump
                                        <br>
                                        <br>
                                        Tokyo 2020 Olympics
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
