{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="w3-content">
        <div class="columns is-multiline">

            <div class="column is-4 w3-rightbar w3-padding-large">
                <p class="content w3-padding-64" style="font-size: larger">

                    Bello and Joseph Awuah-Darko, will run nearly 125 from Accra to Kumasi to raise awareess and funds
                    for
                    Amnesty International in their legal battle against complicit European Governments involved in the
                    violation of human rights regarding Libyan refugees and migrants. We are calling this journey.
                    #TheRaceForHumanDignity. But first we seek to get Bello prosthetic aid to run and we would
                    appreciate
                    all the support we could get!
                </p>
            </div>
            <div class="column is-4 w3-padding-large">
                <figure class="image w3-padding-64">
                    <img src="{% static 'frontend/img/ghana.PNG' %}">
                </figure>

            </div>
            <div class="column is-4 w3-padding-large">
                <figure class="image w3-padding-64">
                    <img src="{% static 'frontend/img/FullSizeRender 112.jpg' %}">
                </figure>

            </div>
<br>
            <div class="column is-4 w3-rightbar w3-padding-large">
                <p class="content w3-padding-64 w3-padding" style="font-size: larger">
                    In the same vein, Joseph Awuah-Darko himself will be representing Ghana in the 2020 Olympics [long
                    distance: 5,000m/10,000m] to raise human rights awareness towards the emancipation of those held
                    captive
                    in Libya.
                    <br>
                    <br>
                    “The commodification and enslavement of Africans in the 21st Century is completed inexcusable and
                    must
                    end!”
                    <br>
                    <br>s
                    #NotForSale
                    #TheRaceForHumanDignity
                </p>
            </div>
            <div class="column is-4 w3-padding-large">
                <figure class="image w3-padding-64">
                    <img src="{% static 'frontend/img/tokyo.png' %}">
                </figure>

            </div>
            <div class="column is-4 w3-padding-large">
                <figure class="image w3-padding-64">
                    <img src="{% static 'frontend/img/flagboy.jpg' %}">
                </figure>

            </div>
        </div>
    </div>
{% endblock %}
